body {
	/*background-color: rgb(51,119,158);
	background-image: ("Pictures\\bg.png");
	background: #eceae8 url("Pictures\\bg.png");
	/*font: 14px/20px Arial, Tahoma, Verdana, sans-serif;}

	*/
	text-align:center;
}
.Box {
 /*
width:700px; 
height: 200px; /* Высота блока */
background-color: #ffffff; /* Фоновый цвет*/
border: 2px solid #D4D4D4; /* Ширина и цвет границ*/
border-radius: 10px; /* Радиус границ*/
box-shadow: 0 0 15px #A9A9A9; /* Размер и цвет тени блока*/
 
}

div
{
	margin: 10px;
	display: inline-block;
}
#header {
	padding-top: 10px;
	text-align:center;	
	display: block;
}
#content{
	text-align:center;
	margin: auto;
	width: 70%;
}
#content div {
	display: block;
}
#footer{
	text-align:center;
	display: block;
	margin: 10% auto;
	width: 70%;
}

#menu {
	float: left;
	/*width: 300px;*/
	width: 10%;
}
#menu div {
	text-align: left;
	display: block;
}
#filter
{
	float:right;
	width: 10%;
}
.news
{
	margin: 10px;
}

table {
	margin: auto;
	border: 1px black solid;
}

 li {
    list-style-type: none; /* Убираем маркеры */
     display: inline;
     margin: 10px;
}
