body {
	/*background-color: rgb(51,119,158);
	*/background-image: ("Pictures\\bg.png");
	background: #eceae8 url("Pictures\\bg.png");
	/*font: 14px/20px Arial, Tahoma, Verdana, sans-serif;}

	*/
	text-align:center;
}
div
{
	margin: 10px;

}
#header {
	text-align:center;	
}
#content{
	text-align:center;
	margin: auto;
}
#footer{
	text-align:center;
}
.news_container {
	text-align:center;
	margin: 2px;

	background: #fff;
	-moz-border-radius: 0 6px 6px 6px;
	-webkit-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
	-moz-box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.1);
	background-color: white;
	text-align:center;
	margin: 0px auto;
	width: 400px;
}
a {
	
}
#menu {
	float: left;
	width: 300px;
}
#menu div {
	text-align: left;
}
#filter
{
	float:right;
	width: 300px;
}
.news
{
	margin: 10px;
}

table {
	margin: auto;
	border: 1px black solid;
}


.lifted {
02	           -moz-border-radius:4px;
03	                border-radius:4px;
04	       }
05	 
06	       .lifted:before,
07	       .lifted:after {
08	           bottom:15px;
09	           left:10px;
10	           width:50%;
11	           height:20%;
12	           max-width:300px;
13	           max-height:100px;
14	           -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
15	              -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
16	                   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
17	           -webkit-transform:rotate(-3deg);
18	              -moz-transform:rotate(-3deg);
19	               -ms-transform:rotate(-3deg);
20	                -o-transform:rotate(-3deg);
21	                   transform:rotate(-3deg);
22	       }
23	 
24	       .lifted:after {
25	           right:10px;
26	           left:auto;
27	           -webkit-transform:rotate(3deg);
28	              -moz-transform:rotate(3deg);
29	               -ms-transform:rotate(3deg);
30	                -o-transform:rotate(3deg);
31	                   transform:rotate(3deg);
32	       }